<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            color: #333;
            background-color: #f4f4f4;
            line-height: 1.6;
        }
        .container {
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        a {
            color: #007BFF;
            text-decoration: none;
        }
        a:hover {
            text-decoration: underline;
        }
        .button {
            display: inline-block;
            padding: 10px 20px;
            margin: 10px 0;
            background-color: #007BFF;
            color: white;
            border-radius: 5px;
            text-align: center;
            text-decoration: none;
        }
        .button:hover {
            background-color: #0056b3;
        }
        .footer {
            font-size: 0.8em;
            margin-top: 20px;
            color: #666;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Confirma Tu Correo Electrónico, <%= name %></h1>
        <p>
            Para completar tu registro por favor confirma tu dirección de correo electrónico.
        </p>

        <p>
            <a href="<%= confirmation_url %>" class="button">Confirmar Correo Electrónico</a>
        </p>

        <p>
            Si tienes problemas para hacer clic en el botón "Confirmar Correo Electrónico", copia y pega la URL que se encuentra a continuación en tu navegador web:
        </p>
        <p>
            <a href="<%= confirmation_url %>"><%= confirmation_url %></a>
        </p>
        
        <div class="footer">
            <p>Si no solicitaste este correo o tienes alguna pregunta, por favor ignóralo o ponte en contacto con nosotros.</p>
        </div>
    </div>
</body>
</html>
