<!doctype html>
<html>
  <head>
    <style>
      body {
        font-family: 'Arial', sans-serif;
        margin: 0;
        padding: 0;
        color: #333;
        background-color: #f4f4f4;
        line-height: 1.6;
      }
      .container {
        max-width: 600px;
        background-color: #fff;
        margin: 20px auto;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        text-align: center;
      }
      h1 {
        color: #007bff;
      }
      p {
        margin: 20px 0;
        font-size: 16px;
        line-height: 1.6;
      }
      .footer {
        font-size: 0.8em;
        color: #666;
        text-align: center;
        margin-top: 20px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <h1>¡Bienvenido(a) a Bordo, <%= name %>!</h1>
      <p>
        Gracias por confirmar tu correo electrónico. Estamos muy contentos de
        que te hayas unido a nosotros.
      </p>
      <p>
        En nuestro sitio encontrarás muchas invitaciones y recursos para tus
        eventos. Siempre estamos aquí para apoyarte, así que no dudes en ponerte
        en contacto si tienes alguna pregunta o necesitas ayuda.
      </p>
      <p>¡Esperamos que disfrutes tu experiencia con nosotros!</p>
      <div class="footer">
        Con cariño, <br />
        El equipo de Miwo
      </div>
    </div>
  </body>
</html>
